version: '3.5'

services:
    nginx:
        image: nginx:latest
        container_name: nginx
        restart: always
        ports:
            - 80:80
        volumes:
            - .:/var/www:ro
            - ./config/docker/nginx/nginx.conf:/etc/nginx/conf.d/nginx.conf:ro
        working_dir: /var/www
        depends_on:
            - php
            - mysql

    php:
        build: ./config/docker/php/
        container_name: php
        restart: always
        volumes:
            - .:/var/www:rw
        working_dir: /var/www

    mysql:
        image: mysql:latest
        container_name: mysql
        restart: always
        environment:
            MYSQL_DATABASE: db
            MYSQL_USER: user
            MYSQL_PASSWORD: password
            MYSQL_ROOT_PASSWORD: password
        ports:
            - 3306:3306
        volumes:
            - ./data/mysql:/var/lib/mysql
