version: '3.5'

services:
    nginx:
        image: nginx:latest
        container_name: nginx
        restart: always
        ports:
            - 80:80
        volumes:
            - .:/var/www:ro
            - ./config/docker/nginx/nginx.conf:/etc/nginx/conf.d/nginx.conf:ro
        working_dir: /var/www
        depends_on:
            - php
            - db

    php:
        build: ./config/docker/php/
        container_name: php
        restart: always
        volumes:
            - .:/var/www:rw
        working_dir: /var/www

    db:
        image: mariadb:latest
        container_name: db
        restart: always
        environment:
            MYSQL_DATABASE: daily_expense
            MYSQL_USER: user
            MYSQL_PASSWORD: password
            MYSQL_ROOT_PASSWORD: password
        ports:
            - 3306:3306
        volumes:
            - ./data/db_storage:/var/lib/mysql
