version: '3.5'

services:
    front:
        image: nginx:latest
        container_name: front
        restart: always
        ports:
            - 80:80
        volumes:
            - .:/var/www:cached
            - ./config/docker/front/nginx.conf:/etc/nginx/conf.d/nginx.conf:ro
        working_dir: /var/www
        depends_on:
            - engine
            - redis

    engine:
        build: config/docker/engine/
        container_name: engine
        restart: always
        volumes:
            - .:/var/www:cached
        working_dir: /var/www

    redis:
        image: redis:5.0
        container_name: redis
