@import "components/entity_model";
@import "components/removal_modal";
@import "components/topbar";

body {
    background-color: lightgray;
}

.sticky-footer {
    a {
        &:active,
        &:hover,
        &:visited {
            color: #858796;
        }
    }
}

.app-logo {
    width: 35px;
    height: 35px;
    fill: white;
}

.dataTable {
    &> tbody tr:hover {
        background-color: whitesmoke !important;
    }

    td > i {
        font-size: 25px;
    }
}
