#entityModal {
    .modal-body {
        &.loading {
            &> div {
                display: none;

                &.form-spinner {
                    display: flex !important;
                }
            }
        }

        small.text-danger {
            display: none;
        }

        input.is-invalid ~ small.text-danger {
            display: inline;
        }

        p.text-danger {
            display: none;

            &.shown {
                display: block;
            }
        }

        .form-check-inline {
            padding: 7px 12px;

            label {
                font-size: 25px;
            }
        }
    }

    .form-spinner.d-flex {
        display: none !important;
    }

    #submitLoadingPlaceholder {
        display: none;
    }
}
